:root {
    --footer-height: 320px;
}

.navbar-color{
    background-color: ghostwhite;
}

.ghostwhite-bg-col {
    background-color: ghostwhite;
}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    min-height: 50px;
    background: ghostwhite;
}


