<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
</head>
<body>
<div class="container">
    <h2>Register</h2>

    <!-- Display error message if present -->
    <div class="message error" th:if="${error}">
        <p th:text="${error}"></p>
    </div>

    <!-- Display success message if present -->
    <div class="message success" th:if="${success}">
        <p th:text="${success}"></p>
    </div>

    <form th:action="@{/registration}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required
               minlength="3"
               maxlength="20"
               pattern="[a-zA-Z0-9]+"
               title="Username must be between 3 and 20 characters long and contain only letters and numbers.">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required
               minlength="8"
               maxlength="20"
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}"
               title="Password must be at least 8 characters long, contain an uppercase letter, a lowercase letter, a digit, and a special character.">

        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>